@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');



.con-min-width {
  min-width:1920px;
}

.con {
  width:1530px;
  margin-left:auto;
  margin-right:auto;
  box-sizing:border-box;
  padding:0 20px;
}

.top-bar .menu-box-1 > ul > li.active {
  color:red;
}

#fullpage .section.section-2 {
  display:flex;
  align-items:center;
}

#fullpage .section.section-2.active {
  color:red;
  font-size:3rem;
  transition:font-size 3s;
}
/*라이브러리*/
.ml-31{
  margin-left:124px;
}
.ml-19{
  margin-left:76px;
}
.text-9xl {
  font-size: 9rem;
  line-height: 1;
}
.text-10xl {
  font-size: 10rem;
  line-height: 1;
}

.text-11xl {
  font-size: 12rem;
  line-height: 1;
}

.text-12xl {
  font-size: 14rem;
  line-height: 1;
}
.name1{
 font-family: 'Y_Spotlight';
  font-size:30px;
}
.section_name{
  font-family: 'Y_Spotlight';
  font-size:18px;
}
.introduce_con{
    font-family: 'EliceDigitalBaeum_Regular';
  font-size:15px;
}
.top_bar_text{
  font-family: 'EliceDigitalBaeum_Bold';
  font-size:12px;
}

.section_content{
  font-family: 'EliceDigitalBaeum_Bold';
  font-size:16px;
}
.AboutMe_text_wrap{
  font-family: 'Y_Spotlight';
    font-size:21.5px;
}
.name_wrap{
  margin-top:35px;
  margin-left:45%;
  margin-right:47%;
  
}
.ml-15{
  margin-left:60px;
}
/*폰트*/
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'EliceDigitalBaeum_Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
}
/*탑바*/
.top-bar{
  z-index:100;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:30px;


}
.top-bar .menu-box-1 > li.active > a{
  color:red;
}
.top-bar > a{
 font-family: 'EliceDigitalBaeum_Bold';
}
.top-bar > nav > .menu-box-1 > li > a{
 font-family: 'EliceDigitalBaeum_Bold';
}